$mobile: 576px;
$tablet: 768px;
$desktop: 1024px;

$headerTopHeight: 43px;
$headerBottomHeight: 90px;
$bottomBarHeight: 44px;

$primaryColor: #272727;
$blackColor: #2f2f2f;
$greyColor: #F5F7FA;
$redColor: #C23000;
$footerColor: #303F42;

$greyText: #939EAB;
$redText: #D00000;
$greenText: #2FA201;
$blueText: #005BFF;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (max-width: #{$tablet}) { @content; }
  } @else if $breakpoint == "desktop" {
    @media (max-width: #{$desktop}) { @content; }
  }
}
