@use "variables";
@use "mixins";
@use "grids";
@use "components/h-drop";
@use "components/catalog";
@use "components/home";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto";
  color: $blackColor;
  line-height: 130%;
  letter-spacing: -2%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

.main-content {
  background-color: #f3f3f3;
  padding-top: calc($headerTopHeight + $headerBottomHeight);
  @media (max-width: 1023px) {
    padding-top: 56px;
  }
}

.container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 1366px) {
    padding: 0 20px;
  }
  @media (max-width: 1023px) {
    padding: 0 10px;
  }
}

.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}

.fade-in-enter-to,
.fade-in-leave-from {
  opacity: 1;
}

.fade-in-enter-active,
.fade-in-leave-active {
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.h-icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .iconify {
    width: 26px;
    height: 26px;
  }
}

.ui-input {
  height: 44px;
  padding: 10px;
  background-color: #232323;
  border-radius: 10px;
  border: none;
  outline: none;
  color: $blackColor;
  &::placeholder {
    color: rgba(47, 47, 47, 0.5);
    opacity: 1;
  }
}

.text-bold {
  font-weight: 500;
}

.text-lg {
  font-size: 20px;
}

.text-grey {
  color: $greyText;
}

.text-red {
  color: $redText;
}

.text-green {
  color: $greenText;
}

.text-blue {
  color: $blueText;
}

.page {
  &__title {
    margin: 30px 0;
    h1 {
      margin: 0;
      font-size: 45px;
      font-weight: 500;
      @media (max-width: 1024px) {
        font-size: 24px;
      }
    }
    &--desc {
      display: flex;
      gap: 10px;
      span {
        font-size: 18px;
        color: rgba($blackColor, 0.5);
        line-height: 150%;
        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }
    }
  }
}

.catalog-products {
  margin-bottom: 40px;
}

:root {
  --ba-bs-handle-width: 126px !important;
  --ba-bs-handle-height: 3px !important;
  --ba-bs-handle-color: #2f2f2f !important;
  --ba-bs-radius: 20px !important;
  --ba-bs-padding-small: 0px !important;
  --ba-bs-padding: 0px !important;
}
.ba-bs-container {
  z-index: 2000 !important;
}
.ba-bs-header {
  padding: 6px !important;
  height: 12px !important;
  background-color: #fec93b !important;
  &:before {
    top: 4px !important;
  }
}
