@use "colors";
@use "mixins";
@use "grids";
@use "components/catalog";
@use "components/home";

/* A common starting point in modern projects */
*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures consistent box model */
}

/* Optional: remove default margin/padding for consistency */
/* and optimize for smooth scrolling */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto";
  color: #2f2f2f;
}

/* Make media elements responsive and prevent layout shifts */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form elements */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styling for a clean slate */
button {
  all: unset;
  cursor: pointer;
}

.main {
  background-color: #f3f3f3;
}

.container {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 1023px) {
    padding: 0 10px;
  }
}

.h-icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .iconify {
    width: 26px;
    height: 26px;
  }
}

.ui-input {
  height: 44px;
  padding: 10px;
  background-color: $greyColor;
  border-radius: 10px;
  border: none;
  outline: none;
  color: $blackColor;
  &::placeholder {
    color: rgba(47, 47, 47, 0.5);
    opacity: 1; /* Required for Firefox */
  }
}
